# Ignore client_secret.json in the current directory
backend/client_secret.json

# Ignore client_secret1.json in the current directory
backend/client_secret1.json

# Ignore node_modules directory in the current directory
backend/node_modules

backend/db.js
backend/config.js


backend/thumbnails/*



backend/upload/*



backend/videos/*





# Ignore client_oauth_token.json (located outside of backend)
client_oauth_token.json

hha.html